# Hands-On

# Hands-on 1
Remember the idea is that the students submit indivdually the jupyter with the hands-on exercises at the end of the lecture.**

use the *Student performance* dataset: https://archive.ics.uci.edu/ml/datasets/Student+Performance

* Load the dataset into a pandas dataframe.
* describe the type of features.
* Check the categorical variables and transform them into numerical values testing different techniques.

In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import matplotlib.patches as mpatches

import zipfile, requests, io
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip'
r = requests.get(url, stream=True)
zf = zipfile.ZipFile(io.BytesIO(r.content))
df_raw = pd.read_csv(zf.open('student-mat.csv'), sep=';')
print(df.columns)
print(df_raw.describe())

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')
              age        Medu        Fedu  traveltime   studytime    failures  \
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean    16.696203    2.749367    2.521519    1.448101    2.035443    0.334177
std      1.276043    1.094735    1.088201    0.697505    0.839240    0.743651
min     15.000000    0.000000    0.000000    1.000000    1.000000    0.000000
25%     16.000000    2.000000    2.000000    1.000000    1.000000    0.000000
50%     17.000000    3.000000    2.000000    1.000000    2.000000    0.000000
75%     18.000000    4.000000    3.000000    2.000000    2.000000    0.000000
max     22.000000    4.000000    4.000000    4.000000    4.000000    3.000000

           famrel    freetime       goout        Dalc        Walc      health  \
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean     3.944304    3.235443    3.108861    1.481013    2.291139    3.554430
std      0.896659    0.998862    1.113278    0.890741    1.287897    1.390303
min      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      4.000000    3.000000    2.000000    1.000000    1.000000    3.000000
50%      4.000000    3.000000    3.000000    1.000000    2.000000    4.000000
75%      5.000000    4.000000    4.000000    2.000000    3.000000    5.000000
max      5.000000    5.000000    5.000000    5.000000    5.000000    5.000000

         absences          G1          G2          G3
count  395.000000  395.000000  395.000000  395.000000
mean     5.708861   10.908861   10.713924   10.415190
std      8.003096    3.319195    3.761505    4.581443
min      0.000000    3.000000    0.000000    0.000000
25%      0.000000    8.000000    9.000000    8.000000
50%      4.000000   11.000000   11.000000   11.000000
75%      8.000000   13.000000   13.000000   14.000000
max     75.000000   19.000000   19.000000   20.000000

In [96]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder

df = df_raw.copy()
binary_columns = ['school', 'sex', 'famsize','Pstatus']
yes_no_columns = ['schoolsup','famsup','paid','activities','nursery','higher','internet','romantic']
nominal_columns = ['Mjob','Fjob','reason','guardian']

binary_encoders = {}
nominal_encoders = {}
# Use LabelEncoder for binary columns
for column in binary_columns:
    encoder = LabelEncoder()
    df[column] = encoder.fit_transform(df[column].values)

# use custom encoder for yes no columns
df[yes_no_columns] = df[yes_no_columns].apply(lambda column: np.where(column == 'yes',1,0))

#use ordinal encoder for nominal values
ordinalEncoder = OrdinalEncoder()
df[nominal_columns] = ordinalEncoder.fit_transform(df[nominal_columns])

print(df.describe())

           school         sex         age     famsize     Pstatus        Medu  \
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean     0.116456    0.473418   16.696203    0.288608    0.896203    2.749367
std      0.321177    0.499926    1.276043    0.453690    0.305384    1.094735
min      0.000000    0.000000   15.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000   16.000000    0.000000    1.000000    2.000000
50%      0.000000    0.000000   17.000000    0.000000    1.000000    3.000000
75%      0.000000    1.000000   18.000000    1.000000    1.000000    4.000000
max      1.000000    1.000000   22.000000    1.000000    1.000000    4.000000

             Fedu        Mjob        Fjob      reason  ...      famrel  \
count  395.000000  395.000000  395.000000  395.000000  ...  395.000000
mean     2.521519    2.169620    2.281013    1.255696  ...    3.944304
std      1.088201    1.227473    0.863542    1.208236  ...    0.896659
min      0.000000    0.000000    0.000000    0.000000  ...    1.000000
25%      2.000000    2.000000    2.000000    0.000000  ...    4.000000
50%      2.000000    2.000000    2.000000    1.000000  ...    4.000000
75%      3.000000    3.000000    3.000000    3.000000  ...    5.000000
max      4.000000    4.000000    4.000000    3.000000  ...    5.000000

         freetime       goout        Dalc        Walc      health    absences  \
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean     3.235443    3.108861    1.481013    2.291139    3.554430    5.708861
std      0.998862    1.113278    0.890741    1.287897    1.390303    8.003096
min      1.000000    1.000000    1.000000    1.000000    1.000000    0.000000
25%      3.000000    2.000000    1.000000    1.000000    3.000000    0.000000
50%      3.000000    3.000000    1.000000    2.000000    4.000000    4.000000
75%      4.000000    4.000000    2.000000    3.000000    5.000000    8.000000
max      5.000000    5.000000    5.000000    5.000000    5.000000   75.000000

               G1          G2          G3
count  395.000000  395.000000  395.000000
mean    10.908861   10.713924   10.415190
std      3.319195    3.761505    4.581443
min      3.000000    0.000000    0.000000
25%      8.000000    9.000000    8.000000
50%     11.000000   11.000000   11.000000
75%     13.000000   13.000000   14.000000
max     19.000000   19.000000   20.000000

[8 rows x 32 columns]

# Hands-On 2

In [104]:
import pandas as pd
# The file has no headers naming the columns, so we pass header=None
# and provide the column names explicitly in "names"

data = pd.read_csv("adult.data", header=None, index_col=False,
names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country','income'])
# For illustration purposes, we only select some of the columns
data = data[['age', 'workclass', 'education', 'gender', 'hours-per-week',
'occupation', 'income']]
# IPython.display allows nice output formatting within the Jupyter notebook
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [105]:
print(data.gender.value_counts())

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [106]:
print("Original features:\n", list(data.columns), "\n")
# automatically transforms all columns that have object type (like strings) or are categorical
# Coding here 
data_dummies = pd.get_dummies(data)

print("Features after get_dummies:\n", list(data_dummies.columns))

Original features:
 ['age', 'workclass', 'education', 'gender', 'hours-per-week', 'occupation', 'income']

Features after get_dummies:
 ['age', 'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'gender_ Female', 'gender_ Male', 'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'income_ <=50K', 'income_ >50K']

In [107]:
data_dummies.head()

,age,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,...,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,income_ <=50K,income_ >50K
0,39,40,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,38,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,53,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,40,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In this case, we extract only the columns containing features—that is, all columns from age to occupation_ Transport-moving. This range contains all the features but not the target.

In [108]:
import numpy as np
features = data_dummies.loc[:, 'age':'occupation_ Transport-moving']
# Extract NumPy arrays
# Coding here
X = features.values
y = data_dummies['income_ >50K'].values
print("X.shape: {} y.shape: {}".format(X.shape, y.shape))

X.shape: (32561, 44) y.shape: (32561,)

In [109]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

#Split the train set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

print("Test score: {:.2f}".format(logreg.score(X_test, y_test)))

Test score: 0.81

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)